@page "/directory/create-person"

<h3>User Form</h3>
<h5 class="text-success">
    @formResults
</h5>
<p>
    First Name: @person.FirstName
</p>
<p>
    Last Name: @person.LastName
</p>
<p>
    Age: @person.Age
</p>
<p>
    Consent: @person.ConsentGiven
</p>

<EditForm Model="@person"
          OnValidSubmit="HandleValidSubmission">
    <DataAnnotationsValidator />

    <div>
        <label for="firstName">First Name:</label>
        <InputText @bind-Value="person.FirstName"
                   id="firstName"></InputText>
    </div>

    <br />

    <div>
        <label for="lastName">Last Name:</label>
        <InputText @bind-Value="person.LastName"
                   id="lastName"></InputText>
    </div>

    <br />

    <div>
        <label for="age">Age:</label>
        <InputNumber @bind-Value="person.Age"
                     id="age"></InputNumber>
    </div>

    <br />

    <div>
        <label for="consent">Do You Consent?</label>
        <InputCheckbox @bind-Value="person.ConsentGiven"
                       id="consent"></InputCheckbox>
    </div>

    <br />

    <ValidationSummary />

    <br />

    <button class="btn btn-primary"
            type="submit">Submit</button>
</EditForm>


@code {

    private PersonModel person = new();

    private string formResults = string.Empty;

    private void HandleValidSubmission()
    {
        formResults = "A valid user has been created.";
        person = new PersonModel();
    }

    private void HandleInvalidSubmit() { }

}
